# discord.js et node js
.grunt
node_modules/
.npm
*.tsbuildinfo
web_modules/
jspm_packages/
config.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Logs
logs
*.log
npm-debug.log*

# API java
*.iml
*.ipr
*.iws
*.jar
*.sw?
bot/config.json
